{% extends "base.html" %}

{% load custom_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">{{ post.title }}</h1>

  <img src="{{ post.image_path|media_url_or_full }}" class="img-fluid" alt="{{ post.title }}" width="100%"
    height="424px" style="object-fit: fill;margin-bottom: 24px;">
  <p>{{ post.content }}</p>
  <hr>
  <h5>Comments</h5>
  {% for comment in post.comments %}
  <div class="alert alert-secondary" role="alert">
    <div class="d-flex justify-content-between">
      <span>
        <strong>{{ comment.author_name }}</strong>: {{ comment.content }}
      </span>
      <span class="text-muted text-nowrap">{{ comment.created_at|slice:":10" }}</span>
    </div>
  </div>
  {% endfor %}

  <form method="post" class="mb-3">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <button type="submit" class="btn btn-secondary">Add Comment</button>
  </form>
</div>
{% endblock %}
